/*@font-face {
  font-family: "Lily of the Valley";
  src: url("/assets/LilyOfTheValley.otf") format("opentype");
}*/

* {
  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }

  margin: 0;

  a {
    color: black;
    text-decoration: none;
  }
}

body {
  font-family: "Work Sans", sans-serif;
}

.mainContainer {
  width: 75%;
  margin: 0 auto;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 49%;
  min-height: 300px;
  height: 75vh;

  p {
    padding: 10px;
    border: 1px solid;
    margin: 0 0 20px 0;
  }
}

.pictures {
  img {
    width: 100%;
  }
}
