.giveUpCounter {
  display: flex;
  padding: 5px;
  margin: auto 5% auto 0;

  h2 {
    width: 130px;
    font-weight: 400;
    font-size: 20px;
    margin-left: 15px;
  }
}

#counter {
  font-size: 50px;
  color: white;
  display: block;
  background-color: black;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  text-align: center;
  font-family: "Roboto Mono", "Work Sans", sans-serif;
  padding: 3px 15px;
}
