.giveUpCounter {
  display: flex;
  height: 80px;

  h2 {
    width: 110px;
    font-weight: 400;
    font-size: 18px;
    margin-left: 15px;
    align-self: center;
  }
}

#counter {
  font-size: 46px;
  color: $bgcolor;
  display: block;
  background-color: $txtcolor;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  text-align: center;
  font-family: "Roboto Mono", "Work Sans", sans-serif;
  padding: 4px 8px;
  align-self: center;
}
