.entry {
  position: relative;
  width: 150px;
  height: 150px;
  border: 5px solid $bgcolor;
  margin: 2.5px;

  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
}

.entryHeader {
  display: none;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  opacity: 0.8;
  align-content: center;

  p {
    align-self: center;
    padding: 8px;
    color: #000;
  }
}

.entry:hover {
  border: 5px solid yellow;
  .entryHeader {
    animation-name: opacity;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    display: flex;
  }
}

.giveup {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 3px 8px;
  border-radius: 3px;
  font-family: "Roboto Mono", "Work Sans", sans-serif;
  width: fit-content;
  height: fit-content;
  margin: auto;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}
