.site_nav {
  position: relative;
  width: 80%;
  align-self: center;

  a {
    text-decoration: none;
  }

  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    text-align: center;
    font-size: 18px;
    border: 1px solid white;
    width: fit-content;
    padding: 5px;
    margin: 0 5px;
  }

  [aria-current] {
    border: 1px solid black;
  }
}
