.title {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin: 0;
  grid-column: 1 / 9;

  h1 {
    font-size: 40px;
    font-weight: 700;
    font-family: "niveau-grotesk-small-caps", sans-serif;
    align-self: center;
  }

  h3 {
    font-size: 40px;
    font-weight: 200;
  }
}
