.titleHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  color: $txtcolor;

  h3 {
    font-size: 46px;
    font-weight: 200;
    height: fit-content;
    align-self: center;
  }
}

.title {
  height: 80px;
  display: flex;

  h1 {
    font-size: 46px;
    font-weight: 400;
    align-self: center;
    font-style: italic;
  }
}
