$bg: white;
$drawer: black;

.drawerMenu {
  width: 36px;
  height: 36px;
  position: relative;
  display: block;
  margin: 0 auto;
}

.drawerMenu div {
  position: absolute;
}

#front {
  display: block;
  border: 1px solid $drawer;
  background-color: $bg;
  width: 30px;
  height: 30px;
  right: 2px;
  top: 2px;
}

#frontLegs {
  display: block;
  border: 1px solid $drawer;
  border-style: solid solid none solid;
  width: 22px;
  height: 4px;
  right: 6px;
  top: 29px;
  background-color: $bg;
  z-index: 1;
}

#side {
  display: none;
  border: 1px solid $drawer;
  width: 0;
  height: 30px;
  left: 2px;
  background-color: $bg;
  z-index: 1;
  top: 2px;
}

#sideLegs {
  display: none;
  border: 1px solid $drawer;
  border-style: solid solid none solid;
  width: 0;
  height: 4px;
  left: 2px;
  top: 29px;
  background-color: $bg;
  z-index: 1;
}

#backLeg {
  display: block;
  border: 1px solid $drawer;
  border-style: none solid solid solid;
  width: 3px;
  height: 4px;
  right: 2px;
  top: 29px;
  z-index: 3;
}

#draw1 {
  display: block;
  border: 1px solid $drawer;
  width: 22px;
  height: 4px;
  right: 6px;
  top: 5px;
}

#draw2 {
  display: block;
  border: 1px solid $drawer;
  width: 22px;
  height: 4px;
  right: 6px;
  top: 13px;
}

#draw3 {
  display: block;
  border: 1px solid $drawer;
  width: 22px;
  height: 4px;
  right: 6px;
  top: 21px;
}

#exTop {
  display: block;
  width: 1px;
  height: 20px;
  background-color: $drawer;
  transform: rotate(0);
  z-index: 1;
  left: 0;
  top: 3px;
}

#exBot {
  display: block;
  width: 1px;
  height: 20px;
  background-color: $drawer;
  transform: rotate(0);
  z-index: 1;
}

#topRight {
  display: block;
  border: 1px solid $drawer;
  width: 34px;
  height: 1px;
  right: 0;
  top: 0;
}

#topLeft {
  display: block;
  border: 1px solid $drawer;
  width: 34px;
  height: 1px;
  right: 0;
  top: 0;
}
