---
layout: base.html
pageTitle: Journal
tags: nav
order: 1
---

<div class="wrapper">
  <section class="separator">
    <h1>Woodworking Journal</h1>
    <div class="giveUpCounter">
      <div id="counter"></div>
      <h2>Times I've Wanted to Give Up</h2>
    </div>
  </section>

  <ul class="journalContainer">
    {% assign journal = collections.entries | sortByPageOrder %} {% for item in
    journal %}
    <li class="entry">
      <img src="{{ item.data.image}}" alt="" />
      <section class="entryHeader">
        <p>
          {{ item.data.day }}{% if item.data.year %}, {{ item.data.year }}{%
          else %}{% endif %}
        </p>
        <div class="giveup">{{ item.data.give }}</div>
      </section>
    </li>
    {% endfor %}
  </ul>

  <script src="/js/counter.js"></script>
</div>
