---
layout: base.html
pageTitle: Journal
tags: nav
order: 1
---

<div class="wrapper">
  <section class="title">
    <h1>Woodworking Journal</h1>
    <div class="giveUpCounter">
      <div id="counter"></div>
      <h2>Times I've Wanted to Give Up</h2>
    </div>
  </section>

  <ul class="journalContainer">
    {% for item in entriess.items %}
    <li class="entry">
      <a href="entriess/{{ item.date }}/">
        <img src="{{ item.image}}" alt="" />
        <div class="entryHeader">
          <p>
            {{ item.date }}{% if item.year %}, {{ item.year }}{% else %}{% endif
            %}
          </p>
          <div class="giveup">{{ item.give }}</div>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>

  <script src="/js/counter.js"></script>
</div>
